// ------------------------------------------------------------------------------
//   @group Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
@kss-colors-background: #F3F3F4;

@kss-colors-foreground: #676a6c;
@kss-colors-heading: #676a6c;
@kss-colors-quotes: #666;

@kss-colors-link: #0094d8;
@kss-colors-link-visited: #0094d8;
@kss-colors-link-hover: darken(@kss-colors-link, 20%);
@kss-colors-link-active: #faa700;

@kss-font-body: 'Open sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
@kss-font-code: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

@kss-font-size: 16px;
@kss-vertical-rhythm: @kss-font-size * 1.5;

// ------------------------------------------------------------------------------
// Wrap all of this template's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------

html {
  background: @kss-colors-background;
}
.kss-style {
  color: @kss-colors-foreground;
  font-family: @kss-font-body;
  font-size: @kss-font-size;
  line-height: @kss-vertical-rhythm;

  a {
    color: @kss-colors-link;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;

    &:visited {
      color: @kss-colors-link-visited;
    }
    &:hover,
    &:focus {
      color: @kss-colors-link-hover;
    }
    &:active {
      color: @kss-colors-link-active;
    }

    &:hover,
    &:active {
      outline: 0;
    }
  }

  p {
    margin: (@kss-vertical-rhythm/2) 0 @kss-vertical-rhythm 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: @kss-vertical-rhythm 0 0 0;
    font-family: @kss-font-body;
    color: @kss-colors-heading;
    line-height: 1.15em;
    font-weight: 100;
  }

  h4, h5, h6 {
    font-weight: 600;
  }

  h1 {
    font-size: @kss-font-size * 2.5;
  }
  h2 {
    font-size: @kss-font-size * 2;
  }
  h3 {
    font-size: @kss-font-size * 1.75;
  }
  h4 {
    font-size: @kss-font-size * 1.5;
  }
  h5 {
    font-size: @kss-font-size * 1.25;
  }
  h6 {
    font-size: @kss-font-size * 1;
  }

  blockquote {
    color: @kss-colors-quotes;
    margin: 0;
    padding-left: @kss-vertical-rhythm;
    border-left: 0.5em mix(@kss-colors-quotes, @kss-colors-background, 25%) solid;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid lighten(@kss-colors-foreground, 60%);
    border-bottom: 1px solid darken(@kss-colors-background, 10%);
    margin: @kss-vertical-rhythm 0;
    padding: 0;
  }

  pre, code, kbd, samp {
    font-family: @kss-font-code;
    color: mix(@kss-colors-foreground, @kss-colors-heading, 50%);
    font-size: 1em;
    border: none;
    background: transparent;
  }

  pre {
    white-space: pre;
    overflow: auto;
  }

  ins {
    color: @kss-colors-heading;
    background: #ff9;
    text-decoration: none;
  }

  mark {
    color: @kss-colors-heading;
    background: #ff0;
    font-weight: bold;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  ul, ol {
    margin: @kss-vertical-rhythm 0;
    padding: 0 0 0 @kss-vertical-rhythm;
  }
  li p:last-child {
    margin: 0;
  }
  dd {
    margin: 0 0 0 @kss-vertical-rhythm;
  }

  img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    vertical-align: top;
  }

  @media print {
    a, a:visited {
      text-decoration: underline;
    }

    hr {
      height: 1px;
      border: 0;
      border-bottom: 1px solid black;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    a[href^="javascript:"]:after, a[href^="#"]:after {
      content: "";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    pre, blockquote {
      border: 1px solid #999;
      padding-right: 1em;
      page-break-inside: avoid;
    }

    tr, img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2, h3 {
      page-break-after: avoid;
    }
  }
}

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

#kss-node {
  margin: 0;
  padding: 20px;
  background: #F3F3F4;

  @media screen and (min-width: 769px) {
    padding: 0;
    background: #fff;

    .kss-main,
    .kss-sidebar {
      float: left;
      margin-right: -100%;
      box-sizing: border-box;
    }
  }

  .kss-main {
    width: 100%;
    margin: 0 auto;
    background: #F3F3F4;

    @media screen and (min-width: 769px) {
      width: 80%;
      margin-left: 20%;
      padding: 0 20px 0 30px;
    }
  }

  .kss-sidebar {
    border-bottom: 1px solid #ddd;
    color: #ffffff;
    background: #2F4050;
    margin: -20px;
    padding: 20px;
    font-weight: 600;
    font-size: 13px;

    a {
      color: #a7b1c2;
      padding: 5px 0;
      &:hover {
        color: #ffffff;
      }
    }

    @media screen and (min-width: 769px) {
      position: fixed;
      width: 20%;
      height: 100%;
      overflow: auto;
      padding: 0;
      border-bottom: 0;
      margin: 0;
      box-shadow: inset -10px 0px 10px -10px rgba(0, 0, 0, 0.7)
    }
  }
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

#kss-node {

  .kss-doc-title {
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 600;

    @media screen and (min-width: 769px) {
      font-size: 1.5em;
    }
  }

  .kss-header {
    padding: 0 10px 0 20px;
  }
  .kss-header,
  .kss-nav {
    @media screen and (min-width: 769px) {
      margin-top: 2em;
    }
  }

  .kss-nav__menu {
    margin-top: (@kss-vertical-rhythm/2);
    margin-bottom: (@kss-vertical-rhythm/2);
    padding: 0;
    list-style-type: none;
  }

  .kss-nav__menu-item {
    a {
      display: block;
      padding-left: 20px;
    }
    @media screen and (min-width: 769px) {
      display: list-item;
    }
  }

  .kss-nav__menu-child {
    display: none;

    @media screen and (min-width: 769px) {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0 0 0 20px;
      background: #293846;
    }
  }

  .kss-nav__ref {
    color: #333;
    font-weight: bold;

    &:after {
      content: ' ';
    }
  }
  .kss-nav__ref-child {
    font-weight: normal;
  }
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------

#kss-node {

  .kss-section {
    margin-bottom: (@kss-vertical-rhythm * 2);
    padding: 0;
  }

  .kss-title {
    margin-bottom: 10px;
  }
  .kss-title__permalink {
    display: block;
    color: @kss-colors-foreground;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: #000000;

      @media screen and (min-width: 607px) {
        .kss-title__permalink-hash {
          display: inline;
        }
      }
    }
  }
  .kss-title__permalink-hash {
    display: none;
    color: #ccc;
  }

  .kss-parameters {
    display: table;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  .kss-parameters__item {
    display: table-row;
  }
  .kss-parameters__name {
    display: table-cell;
    padding-right: 20px;
  }
  .kss-parameters__description {
    display: table-cell;
  }

  .kss-modifier__wrapper {
    background: #ffffff;
    padding: 20px;
    overflow:hidden;
    -webkit-box-shadow: 0 1px 4px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 4px -1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.15);
  }
  .kss-modifier__heading {
    margin: -10px -10px 10px -10px;
    padding: 15px;
    border-bottom: 1px solid #E7EAEC;
    font-weight: 600;
  }
  .kss-modifier__default-name {
    font-weight: 600;
    font-size: 2.1rem;
    margin-bottom: (@kss-vertical-rhythm / 2);
  }
  .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: 600;
  }
  .kss-modifier__description {
    margin-bottom: (@kss-vertical-rhythm / 2);
  }
  .kss-modifier__example {
    clear: left;
    padding: 1px 0; // Contain the example's margins.
    position: relative; // Contain the example's absolute positioning.
    margin: 0 0 (@kss-vertical-rhythm - 1px) 0;

    &:last-child {
      margin: 0;
    }
  }

  .kss-markup {
    margin: -1px 0 @kss-vertical-rhythm 0;
    border-top: 1px solid #E7EAEC;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 4px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 4px -1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.15);
  }
  .kss-markup pre {
    margin: 0;
  }

  // ------------------------------------------------------------------------------
  //   @group prettyprint.js styling
  // ------------------------------------------------------------------------------
  /* Pretty printing styles. Used with prettify.js. */

  /* SPAN elements with the classes below are added by prettyprint. */
  .prettyprint {
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
    background: #ffffff;
    font-size: 13px;
    padding: 20px;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;

    .pln {
      color: #333;
    }



    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
      margin-top: 0;
      margin-bottom: 0;
      color: #cccccc;
    }

    li {
      padding: 0 0 0 1em;
      background-color: #fff;
      list-style-type: decimal;
    }
    li:before {
      display: none;
    }
    .str {
      color: #d14;
    }

    /* keyword */

    .kwd {
      color: #333;
    }

    /* comment */

    .com {
      color: #998;
    }

    /* type name */

    .typ {
      color: #458;
    }

    /* literal value */

    .lit {
      color: #458;
    }

    /* punctuation */

    .pun {
      color: #333;
    }

    /* lisp open bracket */

    .opn {
      color: #333;
    }

    /* lisp close bracket */

    .clo {
      color: #333;
    }

    /* markup tag name */

    .tag {
      color: #000080;
    }

    /* markup attribute name */

    .atn {
      color: #008080;
    }

    /* markup attribute value */

    .atv {
      color: #d14;
    }

    /* declaration */

    .dec {
      color: #333;
    }

    /* variable name */

    .var {
      color: #008080;
    }

    /* function name */

    .fun {
      color: #900;
    }
  }
}
